<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Console</title>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    >
    <link rel="stylesheet" href="{% static 'css/manager.css' %}">

</head>
<body>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="button">Sign Out</button>
    </form>

    <div class="datatable">
        {% if employees %}
            {% for employee in employees %}
                <table class="table">
                    <thead>
                    <tr>
                        {% comment %} <th><abbr title="Position">ID</abbr></th> {% endcomment %}
                        <th>Name</th>
                        <th><abbr title="Section">Section</abbr></th>
                        <th><abbr title="Diseases">Chronic Diseases</abbr></th>

                    </tr>
                    </thead>
                    <tr>
                        <td>
                            {{employee.user.username}}
                        </td>
                        <td>{{ employee.section}}</td>
                    </tr>
                </table>
            {% endfor %}
        {% endif %}
    </div>


</body>
</html>