{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    >
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
  <div class="container">
    <div class="box">
      <h1>Login</h1>
      <form action="{% url 'login' %}" method="POST">
        {{ form }}
        {% csrf_token %}

        <div class="login"> 
          <div class="field">
            <label class="label">Username</label>
            <div class="control">
              <input class="input" type="text" name="username" placeholder="Email">
            </div>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input class="input" type="password" name="password" placeholder="Password">
            </div>
          </div>
          <button id="submit" class="button is-light" type="submit">Login</button>
        </div>
      </form>

    </div>
  </div>
</body>
</html>

